.card {
  position: relative;
  background: #fff;
  overflow: hidden;
  transition: all .3s; }
  .card.collection {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 10px 0 -5px #eee, 0 10px 1px -4px rgba(0, 0, 0, 0.15), 0 20px 0 -10px #eee, 0 20px 1px -9px rgba(0, 0, 0, 0.15); }
  .card .wrapper__img {
    position: relative; }
    .card .wrapper__img .card__img {
      display: block;
      width: 100%;
      height: 100%;
      margin-bottom: 1em;
      background-color: rgba(100, 100, 100, 0.62); }
    .card .wrapper__img .card__text {
      margin: 0;
      padding: 0 5%;
      color: #fff;
      background-color: rgba(100, 100, 100, 0.71);
      position: absolute;
      bottom: 0;
      font-size: 1rem; }
      .card .wrapper__img .card__text.right {
        right: 0; }
      .card .wrapper__img .card__text.left {
        left: 0;
        text-transform: capitalize; }
  .card .wrapper__title {
    padding: 2em;
    white-space: initial;
    height: 90px; }
    .card .wrapper__title .card__title {
      margin: 0 auto 1em;
      color: #333;
      text-align: center;
      text-transform: capitalize;
      font-size: 1.5rem; }
  .card.loading {
    background-color: white; }
    .card.loading svg.card__img {
      fill: rgba(100, 100, 100, 0.62); }
    .card.loading .card__title {
      height: 28px; }
    .card.loading .card__text {
      height: 18px;
      width: 3vw;
      position: absolute !important;
      background: linear-gradient(to right, #d5d5d5 8%, #d5d5d5 18%, #d5d5d5 33%) !important; }
  .card .card__text,
  .card .card__title,
  .card .card__img {
    transition: all .3s ease-in-out; }
  .card.enableHover:hover {
    background-image: url(../img/hire_me.png);
    background-size: cover;
    background-position: center; }
    .card.enableHover:hover .card__title {
      color: #fff;
      transform: translate3d(0, -160px, 0) scale(1.15);
      background-color: rgba(100, 100, 100, 0.71); }
    .card.enableHover:hover .card__text {
      color: #fff;
      transform: translate3d(0, 120px, 0) scale(1.3); }
    .card.enableHover:hover .card__img {
      opacity: 0;
      transform: scale(0); }

.animated-background, .card.loading .card__text,
.card.loading .card__title,
.card.loading .card__img {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #efefef;
  background: linear-gradient(to right, #F8F8F8 8%, #F0F0F0 18%, #F8F8F8 33%);
  background-size: 800px 104px;
  position: relative; }

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0; }
  100% {
    background-position: 468px 0; } }

.carousel__info {
  margin: 10px calc(30px + 3vw);
  color: #0b5ed7; }
  .carousel__info_icon {
    background-color: #0b5ed7;
    border-radius: 8px;
    padding: 5px 10px;
    margin-right: 15px; }
    .carousel__info_icon span {
      color: #fff; }
  .carousel__info_title {
    margin: 0; }
  .carousel__info_subtitle {
    text-overflow: ellipsis;
    max-width: 50vw;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    color: #c5c5c5; }

.carousel {
  margin: 0 30px;
  overflow: hidden;
  cursor: grab;
  position: relative; }
  .carousel.dragging {
    cursor: grabbing; }
  .carousel__wrap {
    white-space: nowrap; }
  .carousel__item {
    display: inline-block;
    width: var(--carousel_item_width);
    min-width: 220px;
    padding: 15px 3vw 3vw 3vw;
    user-select: none; }
  .carousel__progress {
    position: relative;
    z-index: 2;
    pointer-events: none;
    bottom: 1vw;
    width: 20vw;
    left: 3vw;
    height: 1px;
    background: rgba(255, 255, 255, 0.2); }
    .carousel__progress_bar {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.8);
      transform: scaleX(0);
      transform-origin: 0% 0%; }
  .carousel__navigation_prev, .carousel__navigation_next {
    position: absolute;
    top: 15px;
    width: 3vw;
    height: calc(100% - 3vw - 15px);
    background-color: rgba(146, 146, 146, 0.62);
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    min-width: 40px; }
    .carousel__navigation_prev.disabled, .carousel__navigation_next.disabled {
      visibility: hidden; }
    .carousel__navigation_prev:after, .carousel__navigation_next:after {
      font-size: 2rem;
      font-weight: 900;
      letter-spacing: 0;
      text-transform: none;
      font-variant: initial;
      line-height: 1; }
  .carousel__navigation_prev {
    left: 0; }
    .carousel__navigation_prev:after {
      content: '<'; }
  .carousel__navigation_next {
    right: 0; }
    .carousel__navigation_next:after {
      content: '>'; }

:root {
  --carousel_item_width: 19vw; }
