.img-spinning-circle {
  display: inline-block;
  width: 33px;
  height: 33px;
  margin: auto;
  position: absolute;
  top: -13px;
  left: calc(20vw + 15px); }

.img-spinning-circle.active:after {
  content: " ";
  display: block;
  width: 20px;
  height: 20px;
  margin: 1px;
  border-radius: 50%;
  border: 2px solid;
  border-color: #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite; }

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
