.img-spinning-circle {
  display: inline-block;
  width: 33px;
  height: 33px;
  margin: auto;
  position: absolute;
  top: -13px;
  left: calc(20vw + 15px); }

.img-spinning-circle.active:after {
  content: " ";
  display: block;
  width: 20px;
  height: 20px;
  margin: 1px;
  border-radius: 50%;
  border: 2px solid;
  border-color: #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite; }

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

body {
  overflow-x: hidden;
  margin: 0;
  font-family: 'Orelo-sw-bi', serif;
  background: #fff;
  font-size: 15pt;
  line-height: 1.65em; }
  @media (min-width: 1281px) and (max-width: 1680px) {
    body {
      font-size: 13pt; } }
  @media (min-width: 981px) and (max-width: 1280px) {
    body {
      font-size: 12pt; } }
  @media (max-width: 736px) {
    body {
      font-size: 11pt; } }
  body::before {
    content: ' ';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: url("../../assets/img/background.jpg") no-repeat;
    background-size: 110% auto;
    background-position-y: 0; }

.wrap {
  background-color: #00000094;
  padding: 20px 0;
  margin: 100px 0; }

.flexcontainer {
  display: flex;
  flex-direction: column; }

.row {
  flex-direction: row;
  display: flex; }

.col {
  flex-direction: column;
  height: 100%;
  display: flex; }

.start {
  justify-content: flex-start; }

.end {
  justify-content: flex-end; }

.center {
  justify-content: center;
  align-items: center;
  text-align: center; }
