
.card {
  position: relative;
  background: #fff;
  overflow: hidden;
  transition: all .3s;

  &.collection {
    box-shadow: /* The top layer shadow */
            0 1px 1px rgba(0, 0, 0, 0.15),
              /* The second layer */
            0 10px 0 -5px #eee,
              /* The second layer shadow */
            0 10px 1px -4px rgba(0, 0, 0, 0.15),
              /* The third layer */
            0 20px 0 -10px #eee,
              /* The third layer shadow */
            0 20px 1px -9px rgba(0, 0, 0, 0.15);
  }

  .wrapper__img {
    position: relative;

    .card__img {
      display: block;
      width: 100%;
      height: 100%;
      margin-bottom: 1em;
      background-color: rgba(100, 100, 100, 0.62);
    }

    .card__text {
      margin: 0;
      padding: 0 5%;
      color: #fff;
      background-color: rgba(100, 100, 100, 0.71);
      position: absolute;
      bottom: 0;
      font-size: 1rem;

      &.right {
        right: 0;
      }

      &.left {
        left: 0;
        text-transform: capitalize;
      }
    }
  }


  .wrapper__title {
    padding: 2em;
    white-space: initial;
    height: 90px;

    .card__title {
      margin: 0 auto 1em;
      color: #333;
      text-align: center;
      text-transform: capitalize;
      font-size: 1.5rem;
    }

  }


  &.loading {
    background-color: white;

    .card__text,
    .card__title,
    .card__img{
      @extend .animated-background,
    }
    svg.card__img{
      fill: rgba(100, 100, 100, 0.62);
    }
    .card__title{
      height: 28px;
    }
    .card__text{
      height: 18px;
      width: 3vw;
      min-width: 60px;
      position: absolute !important;
      background: linear-gradient(to right, #d5d5d5 8%, #d5d5d5 18%, #d5d5d5 33%) !important;
    }
  }

  .card__text,
  .card__title,
  .card__img {
    transition: all .3s ease-in-out;
  }

  &.enableHover:hover {
    background-image: url(../img/hire_me.png);
    background-size: cover;
    background-position: center;

    .card__title {
      color: #fff;
      transform: translate3d(0, -160px, 0) scale(1.15);
      background-color: rgba(100, 100, 100, 0.71);
    }

    .card__text {
      color: #fff;
      transform: translate3d(0, 120px, 0) scale(1.3);
    }

    .card__img {
      opacity: 0;
      transform: scale(0);
    }

  }
}


// animation shimmer
.animated-background {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #efefef;
  background: linear-gradient(to right, #F8F8F8 8%, #F0F0F0 18%, #F8F8F8 33%);
  background-size: 800px 104px;
  position: relative;
}

// Animation
@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
}
