@import "card.scss";
.carousel__info {
  margin: 10px calc(30px + 3vw);
  color: #0b5ed7;

  &_icon {
    background-color: #0b5ed7;
    border-radius: 8px;
    padding: 5px 10px;
    margin-right: 15px;

    span {
      color: #fff;
    }
  }

  &_title {
    margin: 0;
  }

  &_subtitle {
    text-overflow: ellipsis;
    max-width: 50vw;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    color: #c5c5c5;;
  }
}

.carousel {
  margin: 0 30px;
  overflow: hidden;
  cursor: grab;
  position: relative;

  &.dragging {
    cursor: grabbing;
  }

  &__wrap {
    white-space: nowrap;
  }

  &__item {
    display: inline-block;
    width: var(--carousel_item_width);
    min-width: 220px;
    padding: 15px 3vw 3vw 3vw;
    user-select: none;
  }

  &__progress {
    position: relative;
    z-index: 2;
    pointer-events: none;
    bottom: 1vw;
    width: 20vw;
    left: 3vw;
    height: 1px;
    background: rgba(255, 255, 255, .2);

    &_bar {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, .8);
      transform: scaleX(0);
      transform-origin: 0% 0%;
    }
  }

  &__navigation_prev, &__navigation_next {
    position: absolute;
    top: 15px;
    width: 3vw;
    height: calc(100% - 3vw - 15px);
    background-color: rgba(146, 146, 146, 0.62);
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    &.disabled {
      visibility: hidden;
    }

    &:after {
      font-size: 2rem;
      font-weight: 900;
      letter-spacing: 0;
      text-transform: none;
      font-variant: initial;
      line-height: 1;
    }
  }

  &__navigation_prev {
    left: 0;

    &:after {
      content: '<';
    }
  }

  &__navigation_next {
    right: 0;

    &:after {
      content: '>';
    }
  }
}


// Css var can be super power for sync at runtime css and ts/js, with this conf can be possible to change the number of slide in the view at runtime, in a really easy way!
:root {
  --carousel_item_width: 19vw;
}
