@import "loader.scss";
@import "breakpoints.scss";

// Reset base tag.
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}


// Breakpoints definition.
@include breakpoints((
        xlarge: (1281px, 1680px),
        large: (981px, 1280px),
        medium: (737px, 980px),
        small: (481px, 736px),
        xsmall: (null, 480px),
));

body {
  overflow-x: hidden;
  margin: 0;
  font-family: 'Orelo-sw-bi', serif;
  background: #fff;

  font-size: 15pt;
  line-height: 1.65em;

  @include breakpoint('<=xlarge') {
    font-size: 13pt;
  }

  @include breakpoint('<=large') {
    font-size: 12pt;
  }

  @include breakpoint('<=small') {
    font-size: 11pt;
  }

  &::before {
    content: ' ';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../../assets/img/background.jpg') 0 0/cover no-repeat;
    z-index: -1;
  }
}

.wrap{
  background-color: #00000094;;
  padding: 20px 0;
  margin: 100px 0;
}

.flexcontainer {
  display: flex;
  flex-direction: column;
}

.row {
  flex-direction: row;
  display: flex;
}

.fill-available {
  width: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: stretch;
}

.col {
  flex-direction: column;
  height: 100%;
  display: flex;
}

.start {
  justify-content: flex-start;
}

.end {
  justify-content: flex-end;
}

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

