@import "loader.scss";
/// Sets breakpoints.
/// @param {map} $x Breakpoints.
@mixin breakpoints($x: ()) {
  $breakpoints: $x !global;
}

@include breakpoints((
        xlarge: (1281px, 1680px),
        large: (981px, 1280px),
        medium: (737px, 980px),
        small: (481px, 736px),
        xsmall: (null, 480px),
));

// Reset base tag.
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: 'Orelo-sw-bi', serif;
  background: #fff;

  font-size: 15pt;
  line-height: 1.65em;

  @media (min-width: 1281px) and (max-width: 1680px) {
    font-size: 13pt;
  }

  @media (min-width: 981px) and (max-width: 1280px) {
    font-size: 12pt;
  }

  @media (max-width: 736px) {
    font-size: 11pt;
  }

  &::before {
    content: ' ';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: url('../../assets/img/background.jpg') no-repeat;
    background-size: 110% auto;
    background-position-y: 0;
  }
}

.wrap {
  background-color: #00000094;;
  padding: 20px 0;
  margin: 100px 0;
}

.flexcontainer {
  display: flex;
  flex-direction: column;
}

.row {
  flex-direction: row;
  display: flex;
}

.col {
  flex-direction: column;
  height: 100%;
  display: flex;
}

.start {
  justify-content: flex-start;
}

.end {
  justify-content: flex-end;
}

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

