@import "loader.scss";

body {
  overflow-x: hidden;
  margin: 0;
  font-family: 'Orelo-sw-bi', serif;
  background: #fff;

  &::before {
    content: ' ';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../../assets/img/background.jpg') 0 0/cover no-repeat;
    z-index: -1;
  }
}

.wrap{
  background-color: #00000094;;
  padding: 20px 0;
  margin: 100px 0;
}



.flexcontainer {
  display: flex;
  flex-direction: column;
}

.row {
  flex-direction: row;
  display: flex;
}

.fill-available {
  width: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: stretch;
}

.col {
  flex-direction: column;
  height: 100%;
  display: flex;
}

.start {
  justify-content: flex-start;
}

.end {
  justify-content: flex-end;
}

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

